<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Acerca de</h2>
                    <h3 class="section-subheading text-muted">Majority Report es una iniciativa académica que surge con el proposito de crear un portal donde los usuarios puedan visualizar de manera interactiva los índices de criminalidad en la ciudad de Medellín. Los datos utilizados para generar las gráficas desplegadas fueron tomados del portal de datos abiertos del Ministerio de Tecnologías de la Información y las Comunicaciones y fueron suministrados por la Secretaría de Seguridad y Convivencia de la Alcaldía de Medellín. Los datos contienen la información de las denuncias efectivamente realizadas por el delito "hurto a personas" desde el año 2003. La última actualización de la base se realizó el 23 de diciembre de 2020.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Enero 2020</h4>
                                    <h4 class="subheading">La historia comienza</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">El proyecto nace mientras fui becario de la primera versión del programa de TechLabs "DATA SCIENCE WITH PYTHON– DIGITAL SHAPER" en Colombia
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Marzo 2020</h4>
                                    <h4 class="subheading">Integración los datos</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Durante los primeros meses del año recogí la información disponible en el sitio de la Policía Nacional, hice la limpieza de los datos y logré tener la primera base consolidad para empezar a generar las visualizaciones</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Enero 2021</h4>
                                    <h4 class="subheading">Empieza a ser realidad</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">En abril del 2020 empiezo el programa FULL-STACK SOFTWARE ENGINEER de Holberton, adquiero los conocimientos necesarios para concretar el proyecto y decido crear una aplicación como proyecto final del programa
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Marzo 2021</h4>
                                    <h4 class="subheading">Primera versión!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Se despliega la primera versión de la aplicación. Los usuarios ahora pueden visualizar de manera interactiva los índices de criminalidad en la ciudad de Medellín.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="page-scroll" href="#contact">>
                                <h4>Se parte
                                    <br>De Nuestra
                                    <br>Historia!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
